body {
    background-color: black;
    color: white;
    margin: 0px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.card {
    height: 100px;
    width: 120px;
    font-size: 36px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius: 4px;
}